requests==2.31.0
numpy==1.26.4
scikit-learn==1.4.0  # Version plus récente avec meilleure compatibilité
geopy==2.4.1
transformers==4.38.2
flask==3.0.3
gunicorn==22.0.0
cython==3.0.7  # Ajouter Cython explicitement
torch==2.3.0  # Add PyTorch